*{
    margin: 0;
    padding: 0;
    font-family: 'courier', serif;
    box-sizing: border-box;
}

body{
  background-color: rgb(245, 140, 199);
  color: rgb(255, 0, 144);
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: rgb(255, 189, 226);
  border-radius: 8px;
}
#cubic-form {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

#cubic-form input{
    border:0;
    outline: 0;
}

#cubic-form input[type="submit"] {
    background-color: rgb(245, 140, 199);
    border:0;
    outline:0;
    outline:0;
    color: rgb(255, 0, 144);
    font-size: 16px;
    cursor: pointer;
}
